@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;800&display=swap");

.back {
  background-image: url("https://live.staticflickr.com/3923/14742742297_b72c71bfa4_o.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  font-family: "Gothic A1", sans-serif;
}
